@inject HttpClient Http

<h3>Get TaxRate By Date</h3>


@if (Municipalities == null)
{
    <p><em>loading...</em></p>
}
else
{
    <EditForm Model="@lookupModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        
        <div class="form-group">
            <label>Municipality Name</label>
            <InputSelect class="form-control" @bind-Value="@lookupModel.MunicipalityId">
                <option value="">Select a Municipality...</option>
                @foreach (var m in Municipalities)
                {
                    <option value="@m.Id">@m.Name</option>
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label>Date to Check</label>
            <InputDate class="form-control" @bind-Value="@lookupModel.SearchDate"></InputDate>
        </div>

        <button class="btn btn-primary" type="submit">Search</button>
        
    </EditForm>

    <br />
    <div class="@ResultsCssClass">
        <div class="card-body text-dark">
            <h5 class="card-title">Results for MunicipalityId @lookupModel.MunicipalityId</h5>
            <p class="card-text">@ResultsText</p>
        </div>
        <button class="btn btn-info" @onclick="@ClearResult">Clear</button>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<MunicipalityDisplayModel> Municipalities { get; set; } = new List<MunicipalityDisplayModel>();

    public string ResultsText => taxRateFromDb == 0 || lookupModel.MunicipalityId == 0 
        ? "*NO TAX SCHEDULE FOR THIS PERIOD OR MUNICIPALITY*" 
        : $"TaxRate is {taxRateFromDb} at {lookupModel.SearchDate}";
    public string ResultsCssClass => isResultHidden ? "invisible" : "card border-dark mb-3";
    
    private TaxRateLookupModel lookupModel = new TaxRateLookupModel();
    private bool isResultHidden = true;
    private double taxRateFromDb;

    private void ClearResult()
    {
        lookupModel = new TaxRateLookupModel();
        isResultHidden = true;
    }
    
    private async Task HandleValidSubmit()
    {
        isResultHidden = false;
        if (lookupModel.MunicipalityId == 0)
        {
            return;
        }
        
        taxRateFromDb = await Http.GetFromJsonAsync<double>($"municipalities/{lookupModel.MunicipalityId}/TaxSchedules/GetTaxRate/{lookupModel.SearchDate.ToLongDateString()}");
    }
}